<div class="flex flex-wrap -mx-3 mb-5">
    <div class=" px-3 mb-6 mx-auto">
      <div class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-[.95rem] bg-white m-5">
        <div class="relative flex flex-col min-w-0 break-words border border-dashed bg-clip-border rounded-2xl border-stone-200 bg-light/30">
          <div class="px-9 pt-5 flex justify-between items-stretch flex-wrap min-h-[70px] pb-0 bg-transparent">
            <h3 class="flex flex-col items-start justify-center m-2 ml-0 font-medium text-xl/tight text-dark">
              <span class="mr-3 font-semibold text-dark">List Of Users</span>
            </h3>
          </div>
          <div class="flex-auto block py-8 pt-6 px-9">
            <div class="overflow-x-auto">
              <table class="w-full my-0 align-middle text-dark border-neutral-200">
                <thead class="align-bottom">
                  <tr class="font-semibold text-[0.95rem] text-secondary-dark">
                    <th class="pb-3 text-end min-w-[100px]">Username</th>
                    <th class="pb-3 pr-6 text-end min-w-[100px]">Email</th>
                    <th class="pb-3 pr-6 text-end min-w-[100px]">Role</th>
                    <th class="pb-3 pr-6 text-end min-w-[100px]">Created At</th>
                    <th class="pb-3 pr-6 text-end min-w-[100px]">Enabled</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of this.appstate.UsersState.users"  class="border-b border-dashed last:border-b-0">
                  <td class="p-3 pr-0 text-end">
                    <span class="font-semibold text-light-inverse text-md/normal">{{user.name}}</span>
                  </td>
                  <td class="p-3 pr-6 text-end">
                    <span class="font-semibold text-light-inverse text-md/normal">{{user.email}}</span>
                  </td>
                  <td class="pr-3 pr-0 text-start">
                    <span class="font-semibold text-light-inverse text-md/normal">{{user.role}}</span>
                  </td>
                  <td class="pr-3 pr-0 text-start">
                    <span class="font-semibold text-light-inverse text-md/normal">{{user.createdAt}}</span>
                  </td>
                  <td class="pr-3 pr-0 text-start">
                    <span class="font-semibold text-light-inverse text-md/normal">{{user.enabled}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
        <nav class="flex space-x-2" aria-label="Pagination">
          
            <a *ngFor="let page of [].constructor(appstate.UsersState.totalPages);
                  let i=index"
                  (click)="HandlePagination(i)" 
                  class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-fuchsia-100 hover:bg-fuchsia-200 cursor-pointer leading-5 rounded-md transition duration-150 ease-in-out focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10">
                {{i+1}}
            </a>

        </nav>
    </div>

  </div>
</div>
